body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.chatting-window {
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.type-message-box {
  margin: 20px;
  width: 100%;
}

.contact-card {
  margin: 10px;
}

.contact-image {
  margin: 10px;
}
.contact-image-current {
  margin-top: 15px;
  margin-left: 15px;
  margin-bottom: 10px;
}

.contact-last-message {
  color: #696969;
}
.search-bar {
  margin-top: 15px;
}
.search-bar-container {
  background-color:#0d2b68;
  height: 80px;
  
}
.search-icon {
  color: white;
  font-size: 25px;
  margin-top: 15px;
  position: relative;
  margin-right:2px;
 
}
.search-format {
  margin-left: 10px;
  margin-right: 0px;
  margin-top: 10px;
  
}
.Connect-me-text-format {
  font-size: 30px;
  font-weight: 800;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  background-color: #0d2b68;
  margin-top: 20px;
}
.connect-me-container {
  background-color: #0d2b68;
  height: 50px;
  font-size: 30;
  
}

.all-contacts-container {
  /*padding: 5px;*/
  background-color: #0d2b68;
  height: 82vh;
  overflow: scroll;
  
}
.current-chat-user{
  height: 11vh;
  background-color: #0d2b68;
  margin-left: 0px;
}
.current-user-pane {
  padding-left:2px;
}
.current-user-header {
  margin-top: 30px;
  color: white;
  text-align: left;
  margin-left: 20px;
}

.chat-feed-container {
  height: 73vh;
  overflow: scroll;
}
.form-group {
  width: 400px;
  margin:auto;
}
.firstName-label,
.lastName-label,
.userName-label,
.email-label, 
.password-label {
  font-size: 20px;
  width: 400px;
  text-align: left;
  font-weight: 600;
}
.button-width-controller {
  width: 400px;
  margin:auto;
}
.parent-log-window {
  height: 60vh;
  margin-top: 50px;
  background-color: white;
  border-radius: 35px;
}
.parent-width-log-controller {
  width: 500px;
  margin: auto;
  padding: auto;
}
.sign-up-page, .log-in-page {
  background-color: #0d2b68;
  width: 100vw;
    height: 100vh;
}
.parent-sign-window {
  height: 85vh;
  margin-top: 30px;
  background-color: white;
  border-radius: 35px;
}
.parent-width-sign-controller {
  width: 500px;
  margin: auto;
  padding: auto;
}